.card1 {
    text-align: center;
}

.button0 {
    margin-top: 5px;
}

.button1 {
    margin-top: 10px;
}

.strong1 {
    color: black;
}

.headtext {
    color: black;
}

.cardbody {
    color: black;
}

.error {
    color: black;
}