.card1 {
    text-align: center;
}

.needacct {
    text-align: center;
}

.resetbutton {
    margin-top: 5px;
}

.loglink {
    margin-top: 10px;
}

.login {
    color: blue;
}

.signup {
    color: blue;
}

.error {
    color: white;
}

.error1 {
    color: white;
}

