html body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke !important;
}


span {
  content: "\00B3";
}

#bearimage {
    position: relative;
    width: 400px;
    margin-left: 500px;
    vertical-align: middle;
    padding-top: 0px;
    right: 420px;
    top: 500px;
}

#bullimage {
    width: 600px;
    margin-left: 1000px;
    position: relative;
    vertical-align: middle;
    top: -200px;
    right: 200px;
}

#introtext {
    font-style: italic;
    text-align: center;
    color:black;
    font-size: 50px;
    position: relative;
    top: 100px;
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
}

body {
    perspective: 1500px;
  }
  #spinner {
    font-size: 300px;
    position: relative;
    top: 100px;
    color: #3500d3;
    text-align: center;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
  @keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
  }
  @keyframes depth {
    0% { text-shadow: 0 0 black; }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 0 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 0 0 black; }
  }

body{
    width: 100%;
    height: 100%;
   }  


.container1 {
    margin-left: 300px;
    width: 500px;
}

.container1 > h1 {
    margin-top:-400px;
    color: black;
}

.container1 > p {
    margin-top: 10px;
    color: black;
    font-style: italic;
    font-family: 'Inconsolata', monospace;
}

.container2 {
    margin-top: 200px;
    margin-left: 1200px;
    width: 500px;
}

.container2 > h1 {
    color: black;
}

.container2 > p {
    margin-top: 10px;
    color: black;
    font-style: italic;
    font-family: 'Inconsolata', monospace;
}

.container3 {
    margin-top: 150px;
    margin-left: 300px;
    width: 500px;
}

.container3 > h1 {
    color: black;
}

.container3 > p {
    margin-top: 10px;
    color: black;
    font-style: italic;
    font-family: 'Inconsolata', monospace;
}

@media screen and (max-width: 960px) {
    #bearimage {
        position: relative;
        top: 1000px;
    }

    #bullimage {
        position: relative;
        top: 00px;
        right: 650px;
    }

    .container1 {
        margin-top: 10px;
        margin-left: 30px;
        width: 200px;
    }
    
    .container1 > h1 {
        color: black;
    }
    
    .container1 > p {
        margin-top: 10px;
        color: black;
        font-style: italic;
        font-family: 'Inconsolata', monospace;
    }
    
    .container2 {
        margin-top: 200px;
        margin-left: 600px;
        width: 200px;
    }
    
    .container2 > h1 {
        color: black;
    }
    
    .container2 > p {
        margin-top: 10px;
        color: black;
        font-style: italic;
        font-family: 'Inconsolata', monospace;
    }
    
    .container3 {
        margin-top: 175px;
        margin-left: 30px;
        width: 200px;
    }
    
    .container3 > h1 {
        color: black;
    }
    
    .container3 > p {
        margin-top: 10px;
        color: black;
        font-style: italic;
        font-family: 'Inconsolata', monospace;
    }
}