.card1 {
    text-align: center;
  }
  
  .headtext {
    color: white;
  }
  
  .logbutton {
    margin-top: 5px;
  }
  
  .forgotLink {
    margin-top: 10px;
  }
  
  .forgot {
    color: blue;
  }
  
  .needacct {
    text-align: center;
  }
  
  .signlink {
    color:blue;
  }
  
  .alert {
    color: white;
  }