

.card1 {
  text-align: center;
}

.headertext {
  color: #fff;
}

.button1 {
  margin-top: 5px;
}

.linktext {
  margin-top: 10px;
  text-align: center;
}

.loglink {
  color: blue;
}

.error {
  color: white;
}